main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.secao-banner-sabores {
    width: 100%;
    height: 70vh;
    margin-top: 60px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/banner-sabores.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}