header {
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    z-index: 1;
    background-color: rgb(249, 219, 121);
}

.itens-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: auto;
    height: 60px;
}

header nav {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}